* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

.container {
  max-width: 400px !important;
}

button {
  border: none;
  padding: 8px 16px;
  border-radius: 5px !important;
  background-color: #0d6efd;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

button:hover {
  background-color: #0b5ed7;
  /* font-size: x-small !important; */
  font-weight: bold !important;
}

.fixedWidth {
  width: 400px !important;
}

.hightfull {
  height: 100vh;
}

input {
  background-color: #373737 !important;
  color: #f1f1f1 !important;
  border: none !important;
  padding: 15px !important;
}

input:focus {
  outline: none !important;
  border: none !important;
}

input::placeholder {
  color: #f1f1f1 !important;
  opacity: 0.5 !important;
  /* Firefox */
}

textarea {
  background-color: #373737 !important;
  color: #f1f1f1 !important;
  border: none !important;
  padding: 15px !important;
  resize: none !important;
}

textarea:focus {
  outline: none !important;
  border: none !important;
}

textarea::placeholder {
  color: #f1f1f1 !important;
  opacity: 0.5 !important;
  /* Firefox */
}

.pointer {
  cursor: pointer;
}

.z-index {
  z-index: 2 !important;
}

/* label {
  color: #fff !important;
  background-color: #373737 !important;
} */